modules = ["nodejs-20", "python-3.10", "web"]
run = "PORT=5001 npm run server & PORT=8081 npm run webpack"


[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 8081


