.achievements {
  text-align: center;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.achievements h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 7px;
  background: rgb(1,1,98);
  background: linear-gradient(90deg, rgba(1,1,98,1) 35%, rgba(3,163,196,1) 49%, rgba(2,2,85,1) 62%);
  -webkit-background-clip: text;
  color: transparent;
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-left: 50px;
  grid-column-gap: 0px;
}

.achievement-item {
  flex: 1 1 calc(30% - 50px);
  max-width: calc(30% - 50px);
  box-sizing: border-box;
}

.achievement-item img {
  width: 330px;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.achievement-item5 img {
  width: 280px;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
}

.achievement-item2 img {
  width: 280px;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .achievement-item {
    flex: 1 1 calc(45% - 30px); /* Adjusted for medium screens */
    max-width: calc(45% - 30px);
  }

  .achievement-item img,
  .achievement-item5 img,
  .achievement-item2 img {
    width: 100%;
  }

  .achievements-grid {
    margin-left: 30px; /* Reduced left margin */
  }
}

@media (max-width: 768px) {
  .achievement-item {
    flex: 1 1 calc(100% - 20px); /* Adjusted for small screens */
    max-width: calc(100% - 20px);
  }

  .achievement-item img,
  .achievement-item5 img,
  .achievement-item2 img {
    width: 100%;
  }

  .achievements-grid {
    margin-left: 20px; /* Further reduced left margin */
  }

  .achievements h1 {
    font-size: 30px; /* Adjusted font size for small screens */
    margin-bottom: 30px;
  }
}
