.certificate-section {
  background: linear-gradient(to right, #29298e, #29298e);
  padding: 20px;
  color: #ffffff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.certificate-title {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.certificate-content {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.certificate-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%;
}

.certificate-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ffffff;
}

.certificate-text {
  flex: 2;
  margin-left: 20px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 1.5rem; 
  font-style: normal;
}

.certificate-text h2 {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 20px; 
}

.certificate-text p {
  font-size: 1rem;
  margin-bottom: 20px; 
}

@media (max-width: 768px) {
  .certificate-content {
    flex-direction: column; /* Change this for mobile view */
  }

  .certificate-text {
    margin-left: 0;
    font-size: 1rem; 
    text-align: center; /* Center-align text on mobile */
  }

  .certificate-text h2 {
    font-size: 1.2rem; 
  }

  .certificate-text p {
    font-size: 0.9rem; 
  }
}
