.container {
  text-align: center;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 5px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.content {
  font-size: 1.2em;
}
