.faq-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.faq-container h2 {
  text-align: center;
}

.faq-columns {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

@media (min-width: 768px) {
  .faq-columns {
    flex-direction: row;
  }
}

.faq-column {
  flex: 1;
  margin: 0 40px;

}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.faq-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-answer.open {
  max-height: 500px; 
  opacity: 1;
  padding: 10px;
}
