.faq-container {
 max-width: 100%;
  margin: auto;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #29298e;
  background-size: cover;
  color: #000000; /* Ensures the text is visible on the dark background */
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.faq-container h2 {
  text-align: center;
  color: #fff;
}

.faq-container p {
  text-align: center;
  color: #fff;
}

.faq-columns {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 1000px;
  align-items: center;
  margin-left: 210px;
}

@media (min-width: 768px) {
  .faq-columns {
    flex-direction: row;
  }
}

.faq-column {
  flex: 1;
  margin: 0 20px;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.faq-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-answer.open {
  max-height: 500px; 
  opacity: 1;
  padding: 10px;
}
