.feedback-section{
  text-align: center;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
  
  padding-top: 20px;
  padding-bottom: 5px;
  width: 97.5%;
  max-width: 1800px;
}

.feedback-card {
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: left;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 10px 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-card.expanded {
  max-height: 1000px; 
  padding: 20px;
}

.section-subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 8px;
  background: rgb(255, 255, 255);
  text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 10px #0073e6, 0 0 20px #182E4A, 0 0 20px #182E4A, 0 0 30px #182E4A, 0 0 30px #182E4A;
  background: linear-gradient(90deg, #fff 35%, rgba(3,163,196,1) 49%, #fff 62%);
  -webkit-background-clip: text;
  color: transparent;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -20px;
  margin-top: -20px;
}

.fa-quote-left.icon {
  position: absolute;
  bottom: 0;
  left: 60px;
  background-color: #43c0df;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin-left: -30px;
}

.review-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -80px;
  margin-left: 85px;
}

.review-post {
  color: #43c0df;
  font-size: 0.9rem;
  margin-bottom: 5px;
  max-height: 100px;
}

.review-text {
  color: grey;
  font-size: 15px;
  line-height: 1.5;
  max-height: 120px;
  overflow: hidden;
  margin-top: -5px;
  margin-left: 70px;
  transition: none; /* Remove any transitions on text */
}

.feedback-card.expanded .review-text {
  max-height: none; /* Allow full height for expanded text */
}

.radio-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .review-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .expanded .review-text {
    -webkit-line-clamp: initial;
    overflow: visible;
    height: auto;
    width: auto;
  }
}

/* Hide radio buttons on mobile devices */
@media (max-width: 768px) {
  .radio-buttons {
    display: none;
  }
}

/* Ensure single column layout on mobile devices */
@media (max-width: 768px) {
  .feedback-card {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .feedback-card{
    max-height: 200px;
  
    width: 100%;
    margin-top: 50px;
    
  }
  .review-name{
    margin-left: 30px;
  }
  .review-image{
    margin-left: -60px;
  }
  .fa-quote-left.icon {
    margin-left: -70px;
  }
  .review-text {
    margin-left: 10px;
    margin-top: 20px
  }
}
