.floating-whatsapp {
  position: fixed;
  bottom: 140px; 
  right: 20px;
  background-color: #13c955;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding:10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.floating-whatsapp:hover {
  transform: scale(1.1);
}

.dropdownW {
  position: absolute;
  bottom: 60px; 
  right: 0; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-10%);
  overflow: hidden;
  width: 160px;
  height: auto;
}

.dropdownW button {
  display: block;
  width: 80%;
  
  padding: 10px 20px; 
  background-color: #45b557;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
  box-sizing: border-box; 
}

.dropdownW button:hover {
  background-color: #046c27;
}
