/* footer.css */
.footer-container {
    background-color: #1a202c;
    padding: 2rem;
    color: #cbd5e0;
  }
  





  .footer-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-text {
    font-size: 0.875rem;
    color: #a0aec0;
  }
  
  .footer-small-text {
    font-size: 0.75rem;
    color: #a0aec0;
  }
  
  .footer-list {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-list-item {
    margin-bottom: 0.5rem;
  }
  
  .footer-link {
    color: #cbd5e0;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer-link:hover {
    color: #ffffff;
  }
  
  .footer-social-icons {
    font-size: 1.25rem;
  }a
  
  .footer-social-icons a {
    color: #cbd5e0;
    transition: color 0.2s ease;
  }
  
  .footer-social-icons a:hover {
    color: #ffffff;
  }
  
  .footer-copyright {
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #a0aec0;
  }