@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.founder-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #FFFF;
  
  flex-wrap: wrap; 
  
  margin: 20px;
}

.founder-image img {
  border-radius: 10px;
  height: auto;
  width: 450px;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 8px 8px 15px rgb(0, 0, 0, 0.7);
}

.founder-name h1 {
  margin-bottom: 80px;
  color: ;
  letter-spacing: 8px;
  font-weight: bold;
   font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, rgba(1,1,98,1) 35%, rgba(3,163,196,1) 49%, rgba(2,2,85,1) 62%);
  -webkit-background-clip: text;
  color: transparent;
  
}

.founder-message {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000000;
  
}

.founder-message p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-right: 80px;
  font-family: 'Lato', sans-serif;
  color: #000000;
}



.signature {
  font-family: 'Tangerine', cursive;
  font-size: 20px;
  color: #0f0b0b;
}


.highlight-founder {
  color: #3d0eaa;
  padding: 0 5px; 
  font-weight: bold;
}
.highlight-founder-1 {
  color: #3d0eaa;
  padding: 0 5px; 
  font-weight: bold;
  
}


/* Responsive styles */
@media (max-width: 1024px) {
  .founder-image img {
    width: 300px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .founder-message p {
    font-size: 14px;
    
  }

  .signature {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .founder-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .founder-image img {
    width: 80%;
    margin: 20px 0;
  }
  .founder-name h1{
    font-size: 19px;
  }
  
  .founder-message p {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .founder-image img {
    width: 100%;
    margin: 10px 0;
  }

  .founder-message p {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  .founder-message p1 {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
  }
  .founder-name{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .signature {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Tangerine', cursive;
    
  }

  
}
