.container {
  background-color: #ffffff; 
  width: 90%;
  height: auto; 
  max-width: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.keypoints-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 8px;
  background: rgb(1, 1, 98);
  background: linear-gradient(
    90deg,
    rgba(1, 1, 98, 1) 35%,
    rgba(3, 163, 196, 1) 49%,
    rgba(2, 2, 85, 1) 62%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.keypoints {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #000;
  animation: rotate 20s linear infinite;
  margin-top: 60px;
  margin-left: -700px;
  margin-bottom: 160px;
}

.feature {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 150px;
  margin-left: 140px;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  transform: translate(-50%, -50%);
}

.center-feature {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  transform: translate(-50%, -50%);
}

.center-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@keyframes spiral {
  0% { transform: rotate(0deg) translate(0, -200px) rotate(0deg); }
  16.7% { transform: rotate(60deg) translate(0, -200px) rotate(-60deg); }
  33.4% { transform: rotate(120deg) translate(0, -200px) rotate(-120deg); }
  50% { transform: rotate(180deg) translate(0, -200px) rotate(-180deg); }
  66.7% { transform: rotate(240deg) translate(0, -200px) rotate(-240deg); }
  83.4% { transform: rotate(300deg) translate(0, -200px) rotate(-300deg); }
  100% { transform: rotate(360deg) translate(0, -200px) rotate(-360deg); }
}

.feature0 { animation: spiral 20s linear infinite; }
.feature1 { animation: spiral 20s linear infinite; animation-delay: 3.33s; }
.feature2 { animation: spiral 20s linear infinite; animation-delay: 6.66s; }
.feature3 { animation: spiral 20s linear infinite; animation-delay: 10s; }
.feature4 { animation: spiral 20s linear infinite; animation-delay: 13.33s; }
.feature5 { animation: spiral 20s linear infinite; animation-delay: 16.66s; }

.key-notes {
  margin-top: 20px;
  text-align: left;
  margin-left: 830px;
  margin-top: -500px;
  margin-bottom: 100px;
}

.key-notes h2 {
  margin-bottom: 50px;
  margin-top: -50px;
  margin-left: 30px;
  font-size: 2.5rem;
}

.note {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.note .img {
  margin-right: 5px;
}

.note img {
  width: 100px;
  height: 120px;
}

.note .text {
  max-width: 500px;
}

/* Media query for screens with a max-width of 576px */
@media (max-width: 576px) {
  .circle {
    width: 250px;
    height: 250px;
    margin-left: 0; /* Center the circle */
    margin-bottom: 80px;
  }

  .feature {
    width: 90px;
    height: 85px;
    margin-top: 80px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
  }

  .center-feature {
    width: 100px;
    height: 100px;
  }

  .center-text {
    font-size: 0.5rem;
  }

  .key-notes {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .key-notes h2 {
    margin-left: 0;
    font-size: 2rem;
  }

  .note {
    flex-direction: column;
    align-items: center;
  }

  .note .img {
    margin-bottom: 10px;
  }

  .note img {
    width: 70px;
    height: 80px;
  }

  .note .text {
    max-width: 100%;
    text-align: center;
  }
}
