.branches-section {
  text-align: center;
  padding: 20px;
 
}

.branches-title {
  color: #0056b3;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.branches-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.branch-card {
  background-color: #4F4D8C;
  border: 1px solid #4F4D8C;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  z-index: 1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.branch-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.map-container {
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.branch-card h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.branch-card a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

.branch-card a:hover {
  color: #007bff;
  text-decoration: underline;
}


.leaflet-control-zoom a {
  color: black !important; 
}

.leaflet-control-attribution {
  color: black !important; 
}

