.our-clients-section {
  padding: 60px 0;
  height: 300px;
}

.section-title {
  color: #0e154e;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.clients-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  margin-top: 40px;
}

.clients-marquee-track {
  display: flex;
  animation: marquee 25s linear infinite;
}
.our-clients-section-title{
  font-size: 30px;
  margin-bottom: 40px;
}


.clients-marquee-items {
  display: flex;
  align-items: center;
}

.client-logo-container {
  display: inline-block;
  padding: 0 20px;
}

.client-logo {
  max-height: 70px;
  width: auto;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}