.our-clients-section {
  padding: 60px 0;
  height: 350px;
  font-family: 'Lato', sans-serif;
}

.section-titleC {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  background: rgb(1,1,98);
  background: linear-gradient(90deg, rgba(1,1,98,1) 35%, rgba(3,163,196,1) 49%, rgba(2,2,85,1) 62%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.clients-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: linear-gradient(to right,  #DFF9FE, #DFF9FE,#DFF9FE);
  margin-top: 40px;
}

.clients-marquee-track {
  display: flex;
  animation: marquee 25s linear infinite;
}

.clients-marquee.reverse .clients-marquee-track {
  animation: marquee-reverse 25s linear infinite;
}

.client-logo-container {
  display: inline-block;
  padding: 0 20px;
}

.client-logo {
  max-height: 70px;
  width: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  .clients-marquee-track {
    animation: marquee 15s linear infinite;
  }

  .clients-marquee.reverse .clients-marquee-track {
    animation: marquee-reverse 15s linear infinite;
  }

  .section-titleC {
    font-size: 19px;
  }

  .client-logo {
    width: auto;
    height: 30px;
  }
}
