.placement-section {
  padding: 0px 0;
  background-color: #ffffff; 
  color: #333333; 
  text-align: center;
  width: 100%; /* Ensure the container is full width */
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.student-placement-card {
  background-color: #c70000; 
  border: none;
  border-radius: 8px;
  margin: 20px;
  position: relative;
  text-align: left;
  width: 100%; /* Adjust the width to fit within the column */
}

.top-image {
  height: 150px;
  width: 70px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.company-logo {
  height: 50px; 
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 150px;
  margin-top: -70px;
  padding-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  color: #333; /* Dark grey text for better contrast */
  font-weight: bold;
  margin-left: 150px;
}

.company-icon {
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

/* Custom styles for each card */
.card-0 {
  background-color: #ff0000; /* Red */
  max-height: 200px;
  width: 400px;
  
}

.card-1 {
  background-color: #00ff00; /* Green */
  max-height: 300px;
  width: 400px;
}
.card-1 .top-image {
  max-height: 80px;
  width: 70px;
  object-fit: cover;
}

.card-2 {
  background-color: #0000ff; /* Blue */
  max-height: 200px;
  width: 400px;
}

.card-3 {
  background-color: #ffff00; /* Yellow */
  max-height: 200px;
  width: 400px;
}

/* Add more custom styles for additional cards */
