.courses {
  background-color: #29298e;
  font-family: 'Lato', sans-serif;
}

.courses-container {
  text-align: center;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #29298e;
}

.courses-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin: 10px;
  transition: 0.5s;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 30%);
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;

}

.course-card:hover {
  
  background-color: #79ddf6; 
  cursor: pointer;
}

.course-card:hover h3,
.course-card:hover p {
  color: black;
}

.course-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f5f5;
  padding: 15px;
  margin: auto;
}

.course-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  color: #666;
}

.outline-btn {
  border: 2px solid #0f1a19;
  box-shadow: none;
  margin: 0;
  transition: 0.5s;
  width: 70%;
  height: auto;
  background-color: transparent;
  color: #0e1934;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.course-card:hover .outline-btn {
  background-color: white;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color:#182d49 ;
}


@media screen and (max-width: 768px) {
  .courses-grid {
    flex-direction: column;
    align-items: center;
  }

  .course-card {
    width: 80%;
    margin: 10px 0;
  }
}
