.courses {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.courses-container {
  text-align: center;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  
}

.courses-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  
  font-family: 'Lato', sans-serif;
  letter-spacing: 8px;
  background: rgb(1, 1, 98);
  background: linear-gradient(
    90deg,
    rgba(1, 1, 98, 1) 35%,
    rgba(3, 163, 196, 1) 49%,
    rgba(2, 2, 85, 1) 62%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin: 10px;
  transition: 0.5s;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 30%);
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

.course-card:hover {
  background-color: #79ddf6;
  cursor: pointer;
}

.course-card:hover h3,
.course-card:hover p {
  color: black;
}

.course-icon {
  width: 80px;
  height: 80px;
  border-radius: 0%;
  overflow: hidden;
  padding: 0;
  margin: auto;
}

.course-icon img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.course-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  color: #666;
}

.outline-btn {
  width: 20%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 2px 2px 0px rgb(98, 96, 96, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
 
}

.outline-btn:before,
.outline-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.outline-btn:before {
  height: 0%;
  width: 2px;
}

.outline-btn:after {
  width: 0%;
  height: 2px;
}

.outline-btn:hover {
  background: transparent;
  box-shadow: none;
  color: #132e90;
  font-weight: bold;
}

.outline-btn:hover:before {
  height: 100%;
}

.outline-btn:hover:after {
  width: 100%;
}

.outline-btn1 {
  border: 2px solid #0f1a19;
  box-shadow: none;
  margin: 0;
  transition: 0.5s;
  width: 50%;
  height: auto;
  background-color: transparent;
  color: #0e1934;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.course-card:hover .outline-btn {
  color: #ffffff;
  background-color: #3464a2;
}

.outline-btn1:hover {
  background-color: #1f95d1;
}

@media screen and (max-width: 768px) {
  .courses-grid {
    flex-direction: column;
    align-items: center;
  }

  .course-card {
    width: 80%;
    margin: 10px 0;
  }
}
