.cards-container {
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto; 
  background-image: url('src/Logos/Training2P/t2pp.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  font-family: 'Lato', sans-serif;
}

.heading {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  background: rgb(1,1,98);
  background: linear-gradient(90deg, rgba(1,1,98,1) 35%, rgba(3,163,196,1) 49%, rgba(2,2,85,1) 62%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Lato', sans-serif;
  letter-spacing: 7px;
}

.card {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
  height: 400px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.card-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #464444;
}

.card-01 {
  margin-top: 170px;
  background-color: #ffffff;
}
.card-01:hover {
  background-color: #47a3ff;
}
.card-02 {
  margin-top: 230px;
  background-color: #47a3ff;
  height: 380px;
}
.card-02:hover {
  background-color: #ffffff;
}
.card-03 {
  margin-top: 170px;
  background-color: #ffffff;
}
.card-03:hover {
  background-color: #47a3ff;
}
.card-04 {
  margin-top: 230px;
  background-color: #47a3ff;
}
.card-04:hover {
  background-color: #ffffff;
}
.card-05 {
  background-color: #ffffff;
  margin-top: 170px;
}
.card-05:hover {
  background-color: #47a3ff;
}
.card-06 {
  background-color: #47a3ff;
  margin-top: 230px;
}
.card-06:hover {
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column;
    background-image: none; /* Remove the background image on small screens */
  }

  .card {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .card-number {
    font-size: 20px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }
}