.training2p-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 5px;
}

.cardBox {
  width: 150px; /* Adjusted width */
  height: 200px; /* Adjusted height */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px; /* Adjusted border radius */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px, rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.card1 {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #ffffff;
  border-radius: 10px; /* Adjusted border radius */
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #000000;
  overflow: hidden;
  padding: 10px; /* Adjusted padding */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px -2px inset, rgba(0, 0, 0, 0.5) 0px 8px 6px -8px inset;
}

.card h2,
span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem; /* Adjusted font size */
  font-weight: 800;
  pointer-events: none;
  opacity: 0.5;
}

span {
  top: 75%;
}

.card1 .content h3 {
  font-size: 1.5rem; 
  padding-bottom: 5px;
}

.card1 .content p {
  font-size: 1.2rem; 
  line-height: 1.5;
}

.card1 .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card1:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.card1:hover h2,
.card1:hover span {
  opacity: 0;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #04015a, #0b3293, #2ab0f8, #53daff);
  background: linear-gradient(to right, #04015a, #0b3293, #2ab0f8, #53daff);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
