footer {
  color: #ffffff;
  padding: 40px 0;
  font-size: 14px;
  position: relative;
  width: 100%;
  background-color: #182E4A;
}

.footer-container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 270px;
  height: auto;
  margin-left: 0px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}


.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 25px;
  transition: color 0.3s;
  
}


.social-icons a:hover {
  color: #ff8c00;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widget {
  margin-bottom: 30px;
}

.headline h3 {
  border-bottom: 2px solid #69ccdd;
  display: inline-block;
  padding-bottom: 5px;
  margin-left: 20px;
  font-size: 25px;
  color: white;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 1px 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.menu.horizontal {
  flex-direction: row;
}

.menu-item {
  margin: 5px 10px;
  font-size: 13px;
}

.menu-item a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-item a:hover {
  color: #ff8c00;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #69ccdd;
  width: 100%; 
  display: flex;
  justify-content: center; 
  height: 20px;
}
.course-categories h6{
  margin-left: 20px;
  margin-top: 5px;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  font-size: 16px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #69ccdd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
    margin-top: 20px;
  }

  .column {
    width: 100%;
  }
.headline{
  margin-right: -30px;
}
  .menu {
    flex-direction: column;
    margin-left: 10px;
  }

  .menu-item {
    margin: 5px 0;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}
