/* Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 30%);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 70px;
  width: auto;
  margin-right: 40px;
}

.gin-button {
  background-color: #29298e;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.gin-button:hover {
  background-color: #29298e;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  padding: 0;
  margin-left: auto;
  position: relative;
}

.navbar-toggler:focus {
  background-color: transparent;
  outline: none;
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 2px;
  }
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  font-size: 20px;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #29298e;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #29298e;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.navbar-nav {
  margin-right: 200px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  height: 35px;
  width: 170px;
  max-width: 400px;
  background-color: #cccccc;
  margin-left: 200px;
}

.search-bar__input {
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  flex-grow: 1;
  width: 200px;
  height: 35px;
  background-color: #ffffff;
  padding: 0 10px;
}

.search-bar__button {
  background-color: #0b3293;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 6px 6px 6px 6px;
  margin-left: -30px;
}

/* Responsive design */
@media (max-width: 768px) {
  .search-bar {/* Navbar.css */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #ffffff;
      height: 70px;
      width: 100%;
      z-index: 1000;
      box-shadow: 0 5px 25px -2px rgb(0 0 0 / 30%);
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      max-height: 70px;
      width: auto;
      margin-right: 40px;
    }

    .gin-button {
      background-color: #29298e;
      color: #fff;
      font-size: 14px;
      padding: 8px 20px;
      border-radius: 50px;
      text-decoration: none;
      transition: 0.3s background-color;
    }

    .gin-button:hover {
      background-color: #29298e;
    }

    .navbar-toggler {
      border: none;
      font-size: 1.25rem;
    }

    .navbar-toggler:focus,
    .btn-close:focus {
      box-shadow: none;
      outline: none;
    }

    .nav-link {
      color: #666777;
      font-weight: 500;
      font-size: 20px;
      position: relative;
    }

    .nav-link:hover,
    .nav-link.active {
      color: #29298e;
    }

    @media (min-width: 991px) {
      .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #29298e;
        visibility: hidden;
        transition: 0.3s ease-in-out;
      }

      .nav-link:hover::before,
      .nav-link.active::before {
        width: 100%;
        visibility: visible;
      }
    }

    .navbar-nav {
      margin-right: 200px;
    }

    .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid #ffffff;
      border-radius: 5px;
      height: 35px;
      width: 190px;
      
      background-color: #cccccc;
      margin-left: 10px;
    }

    .search-bar__input {
      border: 1px solid #000000;
      border-radius: 5px;
      outline: none;
      flex-grow: 1;
      width: 170px;
      height: 35px;
      background-color: #ffffff;
      padding: 0 10px;
    }

    .search-bar__button {
      background-color: #0b3293;
      border: 1px solid #000000;
      cursor: pointer;
      padding: 6px 6px 6px 6px;
      margin-left: -30px;
    }

    /* Responsive design */
    @media (max-width: 768px) {
      .search-bar {
        max-width: 100px;
        margin-right: 100px;
      }

      .logo img {
        width: auto;
        height: 35px;
        margin-left: 10px;
      }

      .search-bar {
        display: none;
      }
    }

    /* Add this CSS for mobile screens */
    @media (max-width: 768px) {
      .navbar-toggler {
        justify-content: right;
        margin-right: 2px;
      }

    }

    @keyframes unhide {
      from {
        height: 0;
        opacity: 0;
      }
      to {
        height: auto;
        opacity: 1;
      }
    }

    @media (max-width: 991px) {
      .search {
        margin-left: 0;
        margin-right: auto;
        order: 2;
      }
    }

    .dropdown-menu li {
      position: absolute;

    }

    .dropdown-menu {
      background-color: #ffffff;
      border: 3px solid #29298e;
    }

    .dropdown-menu .dropdown-submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
      background-color: #ffffff;
      border: 2px solid #29298e;
    }

    .dropdown-menu .dropdown-submenu-left {
      right: 100%;
      left: auto;
    }

    .dropdown-menu > li:hover > .dropdown-submenu {
      display: block;
    }

    .dropdown-menu li {
      position: relative;
      border-bottom: 1px solid #000000;
    }

    .dropdown-menu li:last-child {
      border-bottom: none;
    }

    .view-more {
      font-weight: bold;
      color: #000000;
    }

    .view-more:hover {
      color: #000000;
      text-decoration: underline;
    }

    @media (max-width: 991px) {
      .logo img {
        max-height: 50px;
        margin-right: 20px;
      }
    }
    /* New responsive styles */
    @media (max-width: 991px) {
      .header {
        flex-direction: column;
        align-items: flex-start;
      }

      .logo {
        margin-bottom: 10px;
      }

      .search-bar {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      }

      .navbar-nav {
        margin-right: 0;
      }

      .nav-links-container, .nav-links-container2 {
        margin-left: 0px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .dropdown {
        margin-left: -1px;
      }
    }

    /* Fix for the background color and alignment of the navbar-toggler */
    .navbar-toggler {
      padding: 0;
    }

    .navbar-toggler:focus {
      background-color: transparent;
    }

    .offcanvas-backdrop.show {
      opacity: 0.5;
      background-color: rgba(0, 0, 0, 0.5);
    }

    max-width: 100px;
    margin-right: 100px;
  }

  .logo img {
    width: auto;
    height: 35px;
    margin-left: 10px;
  }


  
  .search-bar {
    display: none;
  }
}

/* Add this CSS for mobile screens */
@media (max-width: 768px) {
  .navbar-toggler {
    
    justify-content: right;
    margin-right: 2px;
  }
  
}

@keyframes unhide {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .search {
    margin-left: 0;
    margin-right: auto;
    order: 2;
  }
}

.dropdown-menu li {
  position: absolute;
  
}

.dropdown-menu {
  background-color: #ffffff;
  border: 3px solid #29298e;
  
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  background-color: #ffffff;
  border: 2px solid #29298e;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-menu li {
  position: relative;
  border-bottom: 1px solid #000000;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.view-more {
  font-weight: bold;
  color: #000000;
}

.view-more:hover {
  color: #000000;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .logo img {
    max-height: 50px;
    margin-right: 20px;
  }
}

.dropdown {
  margin-top: 10px;
  margin-left: 70px;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

.nav-links-container2 {
  display: flex;
  align-items: center;
  gap: 0px;
  width: 200px;
  margin-left: 25px;
  margin-top: 10px;
  
}

/* New responsive styles */
@media (max-width: 991px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .search-bar {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar-nav {
    margin-right: 0;
  }

  .nav-links-container, .nav-links-container2 {
    margin-left: 0px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dropdown{
    margin-left: -1px;
  }
}
