
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff; 
  border-bottom: 1px solid #007bff; 
  height: 70px;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 70px;
  width: auto;
  margin-right: 40px;
}

.gin-button {
  background-color: #007bff; 
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.gin-button:hover {
  background-color: #0056b3; 
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  font-size: 20px;
  margin-right: 50px; 
  position: relative; 
}

.nav-link:hover,
.nav-link.active {
  color: #007bff; 
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #007bff; 
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.navbar-nav {
  margin-right: 200px;

}

.search {
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
  --font-size: 1rem;
  --color: #000000;
  --transition-time-icon: 0.2s;
  --transition-time-input: 0.3s 0.25s;
  display: flex;
  position: relative;
  border-radius: 100px;
  align-items: center;
  transition: border-color var(--transition-time-icon) linear,
    padding var(--transition-time-input) var(--easing);
  margin-left: 400px;


  &:not(:focus-within) {
    --transition-time-input: 0.2s 0s;
  }
}

.search__input {
  border: none;
  font-size: 14px;
  opacity: 0;
  outline: none;
  transition: width var(--transition-time-input) var(--easing),
    padding var(--transition-time-input) var(--easing),
    opacity var(--transition-time-input) linear;
  width: 0;
  background: transparent;
  color: var(--color-highlight);

  &::placeholder {
    color: var(--color);
    opacity: 0.75;
  }
}

.search__icon-container {
  position: relative;
  height: calc(var(--font-size) + 1.1rem);
  width: calc(var(--font-size) + 1.1rem);
  align-items: center;
}

.search__label,
.search__submit {
  color: var(--color);
  cursor: pointer;

  height: 100%;
  padding: 0;
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-highlight);
  }
}

.search__label {
  transition: transform var(--transition-time-icon) var(--easing), color 0.1s;
}

.search__submit {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: none;
  outline: none;
  transition: color 0.1s, box-shadow 0.1s;

  svg {
    transform: scale(0.5);
  }

  &:focus {
    box-shadow: 0 0 0 4px inset var(--color-highlight);
  }
}

.search:focus-within {
  border-color: var(--color);
  border: 1px solid #000000;
  border-radius: 100px;

  .search__input {
    opacity: 1;
    padding: 0 1rem 0 2rem;
    width: 200px;
  }

  .search__label {
    transform: scale(0.5);
  }

  .search__submit {
    animation: unhide var(--transition-time-icon) steps(1, end);
    display: block;
  }
}

@keyframes unhide {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: auto;
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .search {
    margin-left: 0;
    margin-right: auto;
    order: 2;
  }
}

.dropdown-menu li {
  position: relative;
}
.dropdown-menu{
  background-color: #ffffff; 
  border: 2px solid #007bff; 
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  background-color: #ffffff; 
  border: 2px solid #007bff; 
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.dropdown-menu li {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}
.view-more {
  font-weight: bold;
  color: #000000;
}

.view-more:hover {
  color: #000000;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .logo img {
    max-height: 50px;
    margin-right: 20px;
  }
}