/* styles.css */

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
