* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*Main carousle*/
.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px; 
  padding: 50px; 
  background-color: #E5E5ED ;
}
.carousel-image img {
  max-height: 100%;
  max-width: 100%;
  margin-top: 100px;
  margin-left: 100px;
  object-fit: cover;
  height: 600px;
  width: auto;
}
.carousel-slide3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px; 
  padding: 50px; 
  background-color: #E5E5ED ;
}
.carousel-image3 img{
  width: auto;
  height: 500px;
}

.logostrip img{
  height: 130px;
  width: 800px;
  margin-top: 70px;
  margin-left: 10px;
}

.carousel-slide4 img{
  height: 100%;
  width: 1300px;
  margin-left: 120px;

}

.carousel-slide4{
  background-color:#E5E5ED ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px; 
  padding: 50px
}
.carousel-text {
  width: 50%;
  text-align: left;
  padding-right: 20px;
  position: relative;
}

.carousel-text h2 {
  color: #000;
  margin-bottom: 20px;
}

.carousel-text h3 {
  color: #333;
  margin-bottom: 15px;
}

.carousel-text p {
  color: #363939;
  margin-bottom: 25px;
}

.carousel-text4 {
  color: #110626;
  margin-left: 90px;
  text-align: center;
}

.carousel-text button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  z-index: 10;
  position: relative;
}

.carousel-text .btnslide {
  background-color: #3f4041;
  width: 150px;
  height: 60px;
}



.carousel-image {
  width: 50%;
  text-align: right;
}


/*custom button*/
button {
  margin: 20px;

}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;

}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-top: 100px;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}




/* Keypoints CSS */

/* pop cpourses */
.courses {
  background-color: #ebebeb;
}

.courses-container {
  text-align: center;
  margin: 20px;
}

.courses-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin: 10px;
  transition: 0.5s;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 15%);
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 5px;
  
}

.course-card:hover {
  background-color: #43c0df; /* Change to desired hover color */
  cursor: pointer;
}

.course-card:hover h3,
.course-card:hover p {
  color: white;
}

.course-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #a0a9ab;
  padding: 15px;
  margin: auto;
}

.course-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  color: #666;
}

.outline-btn {
  border: 2px solid #1eb2a6;
  box-shadow: none;
  margin: 0;
  transition: 0.5s;
  width: 70%;
  height: auto;
  background-color: transparent;
  color: #1eb2a6;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.course-card:hover .outline-btn {
  background-color: white;
  color: #1eb2a6;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .courses-grid {
    flex-direction: column;
    align-items: center;
  }

  .course-card {
    width: 80%;
    margin: 10px 0;
  }
}



/* Carousel control buttons */
.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
}
.our-clients-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.section-title {
  margin-bottom: 20px;
  font-size: 2em;
}

.clients-carousel .client-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.client-logo {
  max-height: 100px;
  object-fit: contain;
}

.client-logo.mx-2 {
  margin: 0 10px;
}
/* FEEDBACK SECTION */
.feedback-section {
  padding: 50px 0;
}

.section-title {
  color: #1eb2a6;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.feedback-card {
  padding-bottom: 20px;
  transition: 0.5s;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  text-align: left;
  width: 300px;
  height: 300px;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.fa-quote-left.icon {
  position: absolute;
  bottom: 0;
  left: 80px;
  background-color: #43c0df;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.review-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.review-post {
  color: #43c0df;
  font-size: 1rem;
  margin-bottom: 20px;
}

.review-text {
  color: grey;
}

.feedback-card:hover {
  background-color: #43c0df;
  color: #fff;
  cursor: pointer;
}

.feedback-card:hover .review-post,
.feedback-card:hover .review-text {
  color: #fff;
}

.feedback-card:hover .fa-quote-left.icon {
  background-color: #fff;
  color: #43c0df;
}
